.accordion_minus, .accordion_plus, .arrow, .input-check, .input-checked, .shop-cart, .slider-arrow_left, .slider-arrow_right{
	background: url(sprites.png) no-repeat;
}

.accordion_minus{
	background-position: 0 0;
	width: 18px;
	height: 2px;
}

.accordion_plus{
	background-position: -20px 0;
	width: 18px;
	height: 18px;
}

.arrow{
	background-position: -41px 0;
	width: 10px;
	height: 8px;
}

.input-check{
	background-position: -55px 0;
	width: 12px;
	height: 12px;
}

.input-checked{
	background-position: -75px 0;
	width: 12px;
	height: 12px;
}

.shop-cart{
	background-position: -95px 0;
	width: 41px;
	height: 35px;
}

.slider-arrow_left{
	background-position: -150px 0;
	width: 30px;
	height: 59px;
}

.slider-arrow_right{
	background-position: -185px 0;
	width: 30px;
	height: 59px;
}

