@import 'elements.less';
@import 'variables.less';
@import 'mixins.less';
/* 
88""Yb    db    .dP"Y8 888888 
88__dP   dPYb   `Ybo." 88__   
88""Yb  dP__Yb  o.`Y8b 88""   
88oodP dP""""Yb 8bodP' 888888  */
ul, li{
    padding: 0;
    margin: 0;
}
body{
    font-family: Open Sans;
    font-size: 13px;
    transition: all 0.2s ease;
    overflow-x: hidden;
}
p{
    color:@colorText;
    font-weight: 400;
}
span{
    color:@colorText;
}
a{
    color: @colorviolet;
    text-decoration: underline;
    font-weight: 400;
    &:hover{
        color: @colorviolet;
        text-decoration: none;
    }
    &:visited{
        color: @colorviolet;
        text-decoration: none;
    }
}
h2{

}
label{
    display: block;
    color: #8f8f8f;
    font-size: 1.077em; /* 14 */
    margin-bottom: 10px;
    font-weight: 500;
}
input{
    box-sizing: border-box;
    border: 1px solid @borderInput;
    line-height: 3.077em; /* 40 */
    width: 100%;
    padding-left: 10px;
    outline: none;
    margin-bottom: 10px;
}
input[type=submit]{
    padding: 0px;
    color: #523d89;
    background: @colorvioletOpacity;
    line-height: 2.692em; /* 35 */
    width: auto;
    padding-left: 1.385em; /* 18 */
    padding-right: 1.385em;
    margin-top: 0px;
    &:hover{
        color: white;
        background: @colorviolet;
    }
}
textarea{
    outline: none;
    width: 100%;
    height: 8em;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}

/* checkbox me */
input[type="checkbox"].check,
input[type="radio"].check {
    display: none;
}
input[type="checkbox"].check + label{
    line-height: 12px;
    position: relative;
    display: block;
    padding-left: 20px;
    margin-bottom: 30px;
    cursor: pointer;
    box-sizing: border-box;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
input[type="checkbox"].check + label:before, input[type="checkbox"].check + label:after,{
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    box-sizing: border-box;
}
input[type="checkbox"].check + label:before{
    height: 12px;
    width: 12px;
    border: 1px solid @borderInput;
}
input[type="checkbox"].check + label:after{
    background: url('img/sprites.png') no-repeat -75px 0;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 1;
    -moz-transition: border-color 200ms linear, border-width 200ms linear;
    -o-transition: border-color 200ms linear, border-width 200ms linear;
    -webkit-transition: border-color 200ms linear, border-width 200ms linear;
    transition: border-color 200ms linear, border-width 200ms linear;
}
input[type="checkbox"].check:checked + label:after{
    background: none;
    width: 12px;
    height: 12px;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    border-color: #999999;
    -moz-transition: border-color 200ms linear, border-width 200ms linear;
    -o-transition: border-color 200ms linear, border-width 200ms linear;
    -webkit-transition: border-color 200ms linear, border-width 200ms linear;
    transition: border-color 200ms linear, border-width 200ms linear;
}
/* checkbox end*/

.button{
    border:none;
    border-radius: 1.154em; /* 15 */
    padding:0em 1.538em; /*20*/
    transition: all 0.3s linear;
    margin-top: 10px;
    
    & a{
        font-size:1.077em; /*14*/
        line-height: 2.214em; /*31*/
        color: white;
        text-decoration: none;
        &:hover{
            text-decoration: none;

        }
    }

    &--violet{
        background: @colorviolet;
    }
    &--white-border{
        border: 2px solid white;
        &:hover{
            background: white;
            & a{
                color: @colorviolet;
            }
        }
    }
    &--green-border{
        border: 2px solid @colorGreen;
        background: white;
        & a{
            color: @colorGreen;
        }
        &:hover{
            background: @colorGreen;
            & a{
                color: white;
            }
        }
    }

    &--fat{
        border-radius: 2em;
        & a{
            line-height: 40px;
        }
    }

    &--green{
        background: @colorGreen;
        border: 2px solid @colorGreen;
          margin-left: 30px;
        & a{
            color: white;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 35px;
        }
        &:hover{
            border: 2px solid @colorGreen;
            background: white;
            & a{
                color: @colorGreen;
            }
        }
    }
}


.breadcrumb{
    background: none;
    border-radius: none;
    margin-bottom: 0px;
    margin-top: 1.692em;
    padding-left: 0px;
    & a{
        text-decoration: underline;
        color: #a3a3a3;
        font-weight: 600;
    }
    & .active{
        color: #7a7a7a;
        text-decoration: none;
        font-weight: 600;

    }
}
.breadcrumb > li + li:before {
    padding: 0 1px;
}

/* 
88""Yb    db    .dP"Y8 888888     888888 88b 88 8888b.  
88__dP   dPYb   `Ybo." 88__       88__   88Yb88  8I  Yb 
88""Yb  dP__Yb  o.`Y8b 88""       88""   88 Y88  8I  dY 
88oodP dP""""Yb 8bodP' 888888     888888 88  Y8 8888Y"   */

/* 
88  88 888888    db    8888b.  888888 88""Yb 
88  88 88__     dPYb    8I  Yb 88__   88__dP 
888888 88""    dP__Yb   8I  dY 88""   88"Yb  
88  88 888888 dP""""Yb 8888Y"  888888 88  Yb 
 */
.page-header{
    margin: 0em;
    padding: 0em;
    border-bottom:none;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

    &__logo{
        padding-top: 25px;
        padding-bottom: 20px;
    }
}

/* top menu */
.top-menu{
    box-sizing: border-box;
    height: 40px;
    background: url(img/top_menu.jpg) no-repeat;
    background-position: right;
    text-align: right;
    vertical-align: middle;

    & .button{
        margin-top: 4px;
    }

    &:after{
        content: "";
        display: block;
        position: absolute;
        top:0px;
        right: -285px;
        width: 300px;
        height: 40px;
        background: url(img/top_menu-after.jpg);
    }
    &__items{
        display: inline-block;
        margin: 0em;
    }
    &__item{
        list-style: none;
        display: inline-block;
        padding-right: 3.077em;

        &--summ{
            padding-left: 1.154em;
            font-weight: bold;
            color: @colorviolet;
        }

        &--card{
            position: relative;
            z-index: 5;
            & .badge{
                position: absolute;
                background: @colorvioletOpacity;
                color:@colorviolet ;
                font-weight: normal;
                top: -9px;
                left: -12px;
                z-index: 3;
                padding: 3px 3px;
            }
        }

        & a{
            font-size:1.077em; /* 14px */
            color: @colorviolet;
            text-decoration: underline;

            &:hover{
                text-decoration: none;
            }
        }
    }
    & .fa{
        color: @colorviolet;
        padding-right: 3px;
    }
}
/* top menu end */

/* main nav */
.main-nav {
    margin: 0;
    z-index: 100;
    text-align: right;
    padding-top: 1.154em;/* 15 */

    &__items{
        list-style: none;
        position: relative;
        z-index: 100;
    }

    &__item {
        display: inline-block;
        text-align: center;

        & a{
            display: block;
            font-size: 1.077em; /* 14 */
            text-decoration: none;
            text-transform: uppercase;
            color: @colorText;
            font-weight: 700;
            padding-left: 1em;
            padding-right: 1em;
            line-height: 4.286em;

            &:hover{
                color: @colorviolet;
            }
        }
    }

    &__item--sub{
        position: relative;
        margin-right: 1.077em;

        & .fa-angle-down{
            position: absolute;
            top: 23px;
            right: 0%;
            font-weight: 700;
            color: @colorText;
        }

        &:hover .fa-angle-down{
            color: @colorviolet;
        }

        &:hover>.main-nav__sub-menu {
            display:block;
        }
    }

    &__sub-menu {
        display: none;
        list-style: none;
        position: absolute;
        width: 190px;
        top: 4.615em;/* 60 */
        left: -35%;
        background-color: white;
        border-radius: 6px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
        transition: all 0.5s ease;
        text-align: center;
        padding-top: 0.769em;/*  10 */
        padding-bottom: 0.769em;/*  10 */

        & a{
            line-height: 1.000em;/*  36 */
            font-size: 0.923em; /* 12 */
            font-weight: normal;
            text-transform: none;
        }
    }

    &__sub-item{
        text-align: left;
        padding-top: 13px;
        padding-bottom: 13px;
        transition: all 0.2s ease;
        width: 170px;
        margin: 0 auto;

        &:hover{
            background: @colorviolet;
            border-radius: 6px;
            & a{
                color: white;
            }
        }
    }
}
/* main nav end*/


/* header search */
    .header-search{
        vertical-align: middle;
        padding-top: 2.692em; /* 35 */
        position: relative;
        text-align: right;

        & *{
            display: inline-block;
        }
        & .fa-search{
            color: @colorviolet;
            opacity: 0.4;
            cursor: pointer;
            position: relative;
            z-index: 102;
            padding-left: 2px;

            &:hover{
                opacity: 1;
            }
        }

        &__input[type="search"]{
            opacity: 0;
            width: 200px;
            position: absolute;
            left:-220px;
            bottom:-9px;
            z-index: 101;
            border:1px solid grey;
            padding:0;
            margin: 0;
            padding-left: 10px;
            border-radius: 5px;
        }
    }
/* header search end*/

/* 
88  88 888888    db    8888b.  888888 88""Yb     888888 88b 88 8888b.  
88  88 88__     dPYb    8I  Yb 88__   88__dP     88__   88Yb88  8I  Yb 
888888 88""    dP__Yb   8I  dY 88""   88"Yb      88""   88 Y88  8I  dY 
88  88 888888 dP""""Yb 8888Y"  888888 88  Yb     888888 88  Y8 8888Y"  
 */

main{

}

/* 
8b    d8    db    88 88b 88     88""Yb    db     dP""b8 888888 
88b  d88   dPYb   88 88Yb88     88__dP   dPYb   dP   `" 88__   
88YbdP88  dP__Yb  88 88 Y88     88"""   dP__Yb  Yb  "88 88""   
88 YY 88 dP""""Yb 88 88  Y8     88     dP""""Yb  YboodP 888888  */

.section{
    &-preview{
        height: 835px;
        background: #f1f1f1;
        position: relative;

        &__bg-people{
            .absoluteCenterElement;
            background: url('img/main-page/banner_other.png');
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: center center;
            width: 100%;
            height: 835px;
            z-index: 9;
        }

        &__bg-girl{
            .absoluteCenterElement;
            background: url('img/main-page/banner_girl.png');
            width: 407px;
            height: 560px;
            z-index: 10;
            margin-top: 140px;
            left:60px;
        }

        &__block-info{
            .absoluteCenterElement;
            position: relative;
            z-index: 10;
            margin-top: 500px;
            background: @colorviolet;
            border-radius: 6px;
            padding: 2.500em 2.000em;  /* 40 26 */
            color: white;

            & p{
                color: white;
            }
        }
        &__title{
            font-size: 1.231em;/*  16 */
            font-weight: 600;
            line-height: 1.563em;/*  25 */
            padding-bottom: 1.375em; /* 22 + 10(p) */
        }
        &__text{
            font-weight: 400;
            line-height: 1.769em; /* 23 */
            padding-top: 1.692em; /* 22 */

            &:before{
                    .afterElemet;
                    border-top: 1px solid @colorvioletOpacity;
                    width: 100%;
                    top:-4px;
            }
        }

        &__button{
            vertical-align: bottom;
            text-align: right;
            padding-top: 42px;
        }

/*first block end preview*/
    }

    &-products{
        background: url('img/main-page/production.jpg');
        background-attachment: fixed;
        background-size: cover;
        position: relative;
        z-index: 10;
        color: white;
        padding-top: 11.538em;
        padding-bottom: 16.154em; /* 210 */
        text-align: center;

        & p{
            color: white;
        }
        & a{
            text-decoration: none;
        }

        &__container{
            padding-bottom: 40px;
            padding-top: 40px;

            &--1{
                border-bottom: 1px solid @colorvioletOpacity;
            }

            
        }
        & h2{
            font-family: @fontTitle;
            font-size: 2.615em; /* 34 */
            padding-bottom: 1.618em;/*  55 */
        }
        & p{
            font-size: 1.385em; /* 18 */
            font-weight: 600;
        }
        & a{
            color: white;
            &:hover{
                color: white;
                text-decoration: none;
            }
        }
        &__item{
            box-sizing: border-box;
            margin-top: 3.231 em;
            padding-top: 1em;
            transition: all 0.4s ease;
            min-height: 160px;

            &:hover{
                background: @colorviolet;
            }

            & img{
               padding-bottom: 1.538em; /* 20 */
            }
        }
/* second block end products */
    }

    &-shop{
        padding-top: 8.308em; /* 108 */
        padding-bottom: 10.000em; /* 130 */
        background: url(img/main-page/shop.png);
        background-attachment: fixed;
        background-position: 320px center;
        background-repeat: no-repeat;


        & h2{
            color: #494157;
            font-family:  @fontTitle;
            font-size: 2.615em; /* 34 */
            font-weight: 700;
            position: relative;
            display: inline-block;
            padding-left: 55px;
            padding-bottom: 60px;

            &:after{
                .afterElemet;
                background: url(img/sprites.png) no-repeat -95px 0;
                width: 41px;
                height: 35px;
                top: 3px;
                left: 0px;
            }
        }

        &__left{
            position: relative;
            z-index: 10;
        }
        &__img{
            display: inline-block;
            &--1{
                position: absolute;
                left:-145px;
                padding-top: 500px;
                & img{
                    height: 100%;
                }
            }
            &--3{
                padding-left: 140px;
                & img{
                    width: 101px;
                    height: 451px;
                }
            }
            &--4{
                position: absolute;
                left:500px;
                padding-top: 300px;
                & img{
                    height: 100%;
                }
            }
        }

        &__right{
            & h3{
                font-size: 1.692em; /* 22 */
                font-weight: 700;
                color: #494157;
                padding-bottom: 1.818em; /* 40 */
            }
            & ul{
                padding-top:0.867em; /* 15 */
                position: relative;
                left: 22px;
                padding-bottom: 3.077em;

                &:before{
                    .afterElemet;
                    width: 80%;
                    border:1px solid @colorGreen;
                    left: -23px;
                    top: -1px;
                }
            }
            & li{
                position: relative;
                list-style: none;
                font-size: 1.385em; /* 18 */
                color: dimgrey;
                line-height: 1.944em; /* 35 */
                &:before{
                    .afterElemet;
                    width: 10px;
                    height: 10px;
                    background: @colorGreen;
                    border-radius: 5px;
                    left: -20px;
                    top: 13px;
                }
            }
        }
    }
    &-contact{
        padding-top: 7.385em; /* 96 */
        padding-bottom: 4.615em; /* 60 */
        background-color: #f6f6f6;
        & .contact{
            &__text{
                & h2{
                    color: #8c8c8c;
                    font-size: 1.846em; /* 24 */
                    line-height: 2.500em; /* 60 */
                    font-weight: 600;
                    border-bottom:1px solid #c6c6c6;
                    margin-bottom: 1.667em; /* 40 */
                    &:after{
                        .afterElemet;
                        width: 57px;
                        height: 2px;
                        background: @colorviolet;
                    }
                }
            }

            &__item{
                list-style: none;
                color:@colorText;
                font-size: 1.077em;/*  14 */
                line-height: 2.857em; /* 40 */
                &--green{
                    color:@colorGreen;
                }
            }

            & .contact-person{
                & h4{
                    font-size: 1.231em; /* 16 */
                    line-height: 1.375em; /* 22 */
                    font-weight: 600;
                    margin-bottom: 2px;
                }
                &__position{
                    color:@colorGreen;
                    font-size: 0.769em; /* 10 */
                    line-height: 2.200em; /* 22 */
                    font-weight: 600; 
                    margin-bottom: 5px;
                }
                &__email{
                    color:@colorGreen;
                    font-size: 1.077em; /* 14 */
                    font-weight: 600; 
                    line-height: 1.214em; /* 17 */
                    margin-bottom: 5px;
                }
                &__tel{
                    color: #8c8c8c;
                    font-size: 1.077em; /* 14 */
                    line-height: 1.214em; /* 17 */
                    font-weight: 600; 
                }
            }
        }
    }
} /* .section end */

/* 
8b    d8    db    88 88b 88     88""Yb    db     dP""b8 888888     888888 88b 88 8888b.  
88b  d88   dPYb   88 88Yb88     88__dP   dPYb   dP   `" 88__       88__   88Yb88  8I  Yb 
88YbdP88  dP__Yb  88 88 Y88     88"""   dP__Yb  Yb  "88 88""       88""   88 Y88  8I  dY 
88 YY 88 dP""""Yb 88 88  Y8     88     dP""""Yb  YboodP 888888     888888 88  Y8 8888Y"   */





/* 
 dP""b8  dP"Yb  88b 88 888888 888888 88b 88 888888 
dP   `" dP   Yb 88Yb88   88   88__   88Yb88   88   
Yb      Yb   dP 88 Y88   88   88""   88 Y88   88   
 YboodP  YbodP  88  Y8   88   888888 88  Y8   88    */

.page-title{
    color: #313131;
    font-size: 2.615em; /* 34 */ 
    line-height: 1.1em;
    padding-bottom: 10px;
    font-weight: 400;
    margin-bottom: 0.882em; /* 30 */
    margin-top: 1.324em;
    border-bottom: 1px solid #c6c6c6;
    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 57px;
        height: 2px;
        background: @colorGreen;
        bottom: 30px;
    }
    &--h2{
        font-size: 1.538em; /* 20 */
        font-weight: 600;
    }
    &--h3{
        font-size: 1.231em; /* 16 */
        font-weight: 600;
        border: none;
        margin-bottom: 1.250em; /* 20 */
        &:after{
            display: none;
        }
    }
}

/* page oformlenie zakaza */
.warning-account{
    border-radius: 4px;
    padding-left: 2.308em; /* 30 */
    margin-bottom: 1.385em; /* 18 */
    background-color: #f2f2f2;
    & p{
        font-size: 1.077em; /* 14 */
        line-height: 3.214em; /* 45 */
        margin-bottom: 0px;
    }
}
.form-inter{
    border-radius: 4px;
    border:1px solid @borderGrey;
    padding: 35px 26px;
    & p{
        color: @colorTextGrey;
    }
}
.form-delivery-method{
    & input[type="checkbox"].check + label{
        color: #313131;
        font-size: 1.077em; /* 14 */
        font-weight: 400;
        margin-bottom: 0.714em;
    }
    & p{
        font-weight: 400;
        font-size: 0.923em; /* 12 */
        margin-bottom: 2.333em; /* 18 */
        color: @colorTextGrey;
    }
    & span{
        color:@colorGreen;
    }
}
.payment-method{
    &__option{
        text-align: center;
        & input[type="checkbox"] + label {
            padding-top: 18px;
            padding-left: 0px;
            left: -13px;
            margin-bottom: 40px;
            color: @colorText;
            font-weight: 400;
            font-size: 14px;
        }
        & input[type="checkbox"].check + label:before, input[type="checkbox"].check + label:after{
            top: -110%;
            left:13px;
        }
        & img{
            padding-right: 30px;
        }
        &--4{
            & input[type="checkbox"].check + label:before, input[type="checkbox"].check + label:after{
                top: -79%;
            }
        }
    }
    &__img{
        height: 60px;
    }
    & .clearing-label{
        color: @colorText;
        font-weight: 400;
        font-size: 14px;
    }
}
.order{
    border: 1px solid @borderGrey;
    border-radius: 4px;

    &__title{
        text-align: center;
        border-bottom: 1px solid @borderGrey;
        & p{
            text-transform: uppercase;
            color:@colorTextGrey;
            margin-bottom: 0px;
            font-size: 1.077em; /* 14 */
            line-height: 2.571em;
        }
    }

    &__item{
        box-sizing: border-box;
        text-align: center;
        vertical-align: middle;
        border-bottom: 1px solid @borderGrey;
        & p{
            font-weight: 700;
            font-size: 1.231em; /* 16 */
            margin-bottom: 0px;
        }
        &__delete{
            line-height: 6.923em; /* 90 */
            vertical-align:middle;
            & .delete-line{
                box-sizing: border-box;
                display: inline-block;
                font-size: 2.308em; /* 30 */
                line-height: 0.9em;
                width: 1em;
                height: 1em;
                padding-left:1px;
                color: red;
                font-weight: bold;
                transform: rotate(45deg);
                border: 1px solid #ff8585;
                border-radius: 15px;
                cursor: pointer;
                position: relative;
                top:6px;

                &:hover{
                    background: red;
                    color: white;
                }
            }
        }

        &__img{
            line-height: 6.923em; /* 90 */
            vertical-align:middle;
            & img{
                width: auto;
            }
        }
        &__name{
           display: table-cell;
           height: 6.923em;
           vertical-align: middle;
            & p{
                color: @colorviolet;
            }
        }
        &__text{
            line-height: 6.923em; /* 90 */
            vertical-align: middle;
            & p{
                color: @colorviolet;
            }
        }
        &__quantity{
            
        }

.group {
    box-sizing: border-box;
    padding: 2em;
}
.input-number {
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 20px;
    position: relative;
    height: 38px;
    width: 38px;
    margin: 0 auto;
}
.input-number input {
    box-sizing: border-box;
    border: none;
    display: inline-block;
    height: 100%;
    padding: 0;
    margin: 0;
    outline: none;
    position: relative;
    width: 36px;
    line-height: 36px;
    border-radius: 20px;
    text-align: center;
}
.input-number-increment,
.input-number-decrement {
    box-sizing: border-box;
    background-color: @colorvioletOpacity;
    border: 0;
    color: @colorviolet;
    font-weight: bold;
    cursor: pointer;
    display: block;
    outline: none;
    position: absolute;
    width: 17px;
    height: 17px;
    line-height: 15px;
    border-radius: 10px;
    text-align: center;
    right: 0;
    padding: 0;
}
.input-number-increment {
    border-bottom: 1px solid #e6ebee;
    box-sizing: border-box;
    top: 0px;
    left: 39px;
    &:hover{
        background: #a68cd5;
    }
}
.input-number-decrement {
    box-sizing: border-box;
    bottom: 0;
    top: 19px;
    left: 39px;
    &:hover{
        background: #a68cd5;
    }
}

        &__sale{
            line-height: 6.923em; /* 90 */
            vertical-align:middle;
            & p{
                color: @colorGreen;
            }
        }
    }
}

/* page oformlenie zakaza end*/

/* 
88""Yb  dP""b8    db    888888      dP""b8    db    88""Yb 8888b.  
88__dP dP   `"   dPYb   88__       dP   `"   dPYb   88__dP  8I  Yb 
88"""  Yb  "88  dP__Yb  88""       Yb       dP__Yb  88"Yb   8I  dY 
88      YboodP dP""""Yb 888888      YboodP dP""""Yb 88  Yb 8888Y"   */
.card{
    & .description {
        & span{
            font-size: 0.923em;
            font-style: italic;
            display: block;
            padding-top: 1.385em;
            padding-bottom: 2.769em;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
        }
        &__container{
            border:1px solid @borderGrey;
            padding: 2.308em;
            padding-top: 1em;
            border-top: none;
            margin-bottom: 1.538em;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;

            &--table{
                padding-left: 0px;
                padding-right: 0px;
                & h3{
                    font-size: 1.231em; /* 16 */
                    line-height: 1.688em;
                    padding-left: 1.875em;
                    margin-top: 0px;
                }
                & p{
                    padding-left: 2.308em;
                }
            }
        }
    }

    & .comments-container {
        margin-top: 0.769em;
        margin-left: 0.769em;
        margin-right: 0.769em;
    }
    & .blog-comment{
        padding-top: 0.769em;
        padding-left: 1.154em;
        padding-bottom: 2.692em;
        border-top:1px dotted @borderGrey;
        &-info{
            margin-bottom: 0.846em;
        }
        &__status{
            color:@colorTextGrey;
            font-size: 1em;
            font-style: italic;
            line-height: 1.154em;
            margin-bottom: 1.154em;
            margin-top: 0.385em;
        }
        &__img{
            margin: 0 auto;
            margin-top: 1em;
            margin-left: 1.231em;
            border: 4px solid @borderGrey;
            width: 60px;
            height: 60px;
            & img{
                width: 100%;
            }
        }
        & .blog-author{
            display: inline-block;
            font-size: 1.154em;
            font-weight: 700;
            color: @colorviolet;
            & span{
                color: @colorTextGrey;
                font-size: 0.867em;
                font-style: italic;
                font-weight: normal;
            }
        }
        & .blog-comment-date{
            display: inline-block;
            color: @colorviolet;
            font-size: 0.846em;
        }
    }
}

/* rating */
.rating-container {
    display: block;
    width: auto;
}
.rating input:checked ~ label,
.rating label,
.rating label:hover,
.rating label:hover ~ label {
    background: url('img/sprite-star.png') no-repeat;
}
.rating {
    overflow: hidden;
    position: relative;
    float:left;
    display: block;
}
.clearfix{
    content:'';
    display:table;
    clear:both;
}

.rating input {
    opacity: 0;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    z-index: 0;
}
.rating input:checked ~ label {
    background-position: 0 -15px;
    height: 15px;
    width: 15px;
}
.rating label {
    background-position: 0 0;
    height: 15px;
    width: 15px;
    float: right;
    cursor: pointer;
    margin-right: 3px;
    position: relative;
    z-index: 1;
}
.rating label:hover,
.rating label:hover ~ label {
    background-position: 0 -15px;
    height: 15px;
    width: 15px;
}

.rating-star{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url('img/sprite-star.png') no-repeat;
    background-position: 0 0px;

    &--active{
        background-position: 0 -15px;
    }
}

/* rating end */
.table-buy{
    table {
        width: 100%;
        border-collapse: collapse;
        border:1px solid @borderGrey;
        border-left: none;
        border-right: none;
        border-bottom:none;
        margin-bottom: 1em;
        & .title td{
            color: @colorTextGrey;
            font-weight: 700;
        }
        & .tr--green{
            background: #e0f5ca;
        }
        & .tr--yellow{
            background: #ecffd7;
        }
        & .tr--violet{
            background: #f3ecff;
        }
        & tr{
            border-bottom: 1px solid @borderGrey;
        }
        & td{
            border-left:1px solid @borderGrey;
            padding-top: 6px;
            padding-bottom: 6px;
            text-align: center;
            font-size: 14px;
            &:first-child{
                border-left: none;
            }
        }
        & input{
            display: inline-block;
            box-sizing: border-box;
            margin-bottom: 0px;
            line-height: 22px;
            width: 75px;
            border-radius: 4px;
            box-shadow: inset 1px 1.7px 3px rgba(0, 2, 4, 0.25);
            overflow: hidden;
            padding-left: 6px;
            padding-right: 34px;
        }
        & a{
            position: relative;
            &:before{
                position: absolute;
                display: inline-block;
                width: 34px;
                height: 25px;
                padding-top: 3px;
                background-color: white;
                background-image: linear-gradient(to top, rgba(201, 201, 201, 0.92) 0%, rgba(243, 243, 243, 0.92) 100%);
                border: 1px solid #b8b8b8;
                top: -17px;
                left: -33px;
            }
        }
        
    }
}




.basic-info-container{
    margin-bottom: 6.154em;
}
.basic-info-price{
    & span{
        font-weight: 700;
        font-size: 2.308em; /* 30 */
        line-height: 0.667em; /* 20 */
        color: @colorviolet;
    }
}
.item-carousel{
    margin-bottom: 10px;
    & img{
        width: 100%;
    }
}
.item-carousel-nav{
    & img{
        width: 95%;
        outline:none;
    }
    & .slick-slide{
        outline:none;
        & img{
            border: 1px solid #878686;
        }
    }
    & .slick-prev{
        .slickButtons();
            background-color: rgba(0,0,0,0.3);
            width: 22px;
            height: 20px;
            top: 36%;
        &:hover{
            background-color: rgba(0,0,0,0.8);
        }
        & i{
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 5px 5px 0;
            border-color: transparent white transparent transparent;
        }
    }
    & .slick-next{
        .slickButtons();
        right: 0px;
        background-color: rgba(0,0,0,0.3);
        width: 22px;
        height: 20px;
        top: 36%;
        &:hover{
            background-color: rgba(0,0,0,0.8);
        }
        & i{
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            border-color: transparent transparent transparent white;
            margin-left: 5px;
        }
    }
}

.nav-tabs-basic{
    & .nav-tabs{
        background-color: @colorvioletOpacity;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom:2px solid @colorvioletOpacity;
        & > li > a {
            border-radius: 0px;
            line-height: 3.067em; /* 46 */
            font-size: 1.154em; /* 15 */
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            color: white;
            border:none;
            outline: none;
            padding-left: 3.000em; /* 45 */
            padding-right: 3.000em;
            &:hover{
                background:none;
            }
            & span{
                color: white;
            }
        }
        & > li.active > a{
            background: @colorviolet;
            color: white;
            &:hover{
                background: @colorviolet;
                border-radius: 0px;
                border:none;
                color: white;
                outline: none;
            }
            &:focus{
                background: @colorviolet;
            }
        }
        & > li > a:focus{
            background: none;
            outline: none;
            border:none;
        }
        & > li:first-child{
            border-top-left-radius: 8px;
        }
        & > li.active:first-child{
            border-top-left-radius: 8px;
            & a{
                border-top-left-radius: 8px;
            }
        }
    } 
}

.nav-tabs-basic--second{
    & .nav-tabs{
        background-color: @colorGreenOpacity;
        border-bottom:2px solid @colorGreenOpacity;
        & > li.active > a{
            background: @colorGreen;
            &:hover{
                background: @colorGreen;
            }
            &:focus{
                background: @colorGreen;
            }
        }
    }
}

/* 
88""Yb    db     dP""b8 888888      dP""b8    db    88""Yb 8888b.      888888 88b 88 8888b.  
88__dP   dPYb   dP   `" 88__       dP   `"   dPYb   88__dP  8I  Yb     88__   88Yb88  8I  Yb 
88"""   dP__Yb  Yb  "88 88""       Yb       dP__Yb  88"Yb   8I  dY     88""   88 Y88  8I  dY 
88     dP""""Yb  YboodP 888888      YboodP dP""""Yb 88  Yb 8888Y"      888888 88  Y8 8888Y"   */
/* 
 dP""b8  dP"Yb  88b 88 888888 888888 88b 88 888888     888888 88b 88 8888b.  
dP   `" dP   Yb 88Yb88   88   88__   88Yb88   88       88__   88Yb88  8I  Yb 
Yb      Yb   dP 88 Y88   88   88""   88 Y88   88       88""   88 Y88  8I  dY 
 YboodP  YbodP  88  Y8   88   888888 88  Y8   88       888888 88  Y8 8888Y"   */
/* 
888888  dP"Yb   dP"Yb  888888 888888 88""Yb 
88__   dP   Yb dP   Yb   88   88__   88__dP 
88""   Yb   dP Yb   dP   88   88""   88"Yb  
88      YbodP   YbodP    88   888888 88  Yb  */
.page-footer{
    padding-top: 1.154em; /* 15 */
    background: url(img/footer_bg.jpg);

    &__logo{
        height: 100%;
        vertical-align: middle;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    & img{
        vertical-align: middle;
    }

    &__block{
        & h4{
            font-size:1.385em;  /* 18 */
            line-height: 1em; /* 18 */ 
            color: white;
        }
    }

    &__item{
        list-style: none;
        font-size: 1.077em; /* 14 */
        color: #dfd5f1;
        line-height: 2em;
        & a{
            text-decoration: underline;
            color: #dfd5f1;
            line-height: 2em;
            &:hover{
                text-decoration: none;
                color: #dfd5f1;
            }
        }
    }

    &__social {
        padding-bottom: 1.538em; /* 20 */
        & a{
            color: white;
            text-decoration: none;
        }

        & .page-footer__items{
            & .page-footer__item{
                color: white;
                list-style: none;
                font-size: 1.077em; /* 14 */
                line-height: 3em;
                vertical-align: top;
            }

            & i{
                display: inline-block;
                vertical-align: middle;
                width: 26px;
                height: 26px;
                margin-right: 15px;
            }

            & .page-footer__item:nth-child(1) i{
                background: url(img/social_icon/vk.svg) no-repeat;
            }
            & .page-footer__item:nth-child(2) i{
                background: url(img/social_icon/fb.svg) no-repeat;
            }
            & .page-footer__item:nth-child(3) i{
                background: url(img/social_icon/odno.svg) no-repeat;
            }
            & .page-footer__item:nth-child(4) i{
                background: url(img/social_icon/tw.svg) no-repeat;
            }
        }
    }

    &__buttom{
        border-top: 1px solid #6c6576;
        color:white;
        font-size: 0.923em; /* 12 */
        font-weight: 600;
        line-height: 1.167em;
        padding-top: 1.667em;
        padding-bottom: 1.667em;

        p{
            margin-bottom: 0px;
        }
    }
    &__copyright{
        color: white
    }


}

.logo-carousel{
    border: 1px solid #6c6576;
    border-radius: 6px;
    padding-right: 50px;
    padding-left: 20px;
    vertical-align: middle;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;

    & .owl-controls{
        position: absolute;
        top: 43%;
        right: 1.5%;

        .owl-nav{
            & .owl-next{
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 7px 9px 7px 0;
                border-color: transparent #fff transparent transparent;
                display: inline-block;
                margin-right: 5px;
            }
            & .owl-prev{
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 7px 0 7px 9px;
                border-color: transparent transparent transparent #fff;
                display: inline-block;
                
            }
            
        }
    }

}
/* 
888888  dP"Yb   dP"Yb  888888 888888 88""Yb     888888 88b 88 8888b.  
88__   dP   Yb dP   Yb   88   88__   88__dP     88__   88Yb88  8I  Yb 
88""   Yb   dP Yb   dP   88   88""   88"Yb      88""   88 Y88  8I  dY 
88      YbodP   YbodP    88   888888 88  Yb     888888 88  Y8 8888Y"   */

@import 'animations.less';
@import 'responsive.less';
 